* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
}


/* PAGE STRUCTURE */
.up {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow: hidden;
}

.down {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.content {
  width: calc(100% - 225px);
  padding-top: 90px;
  overflow: auto;
}
/* /PAGE STRUCTURE */

/* SIDEBAR */
#sidebar {
  width: 225px;
  min-height: 450px;
  height: 100%;
  background-color: black;
  color: #a3a3a3;
  font-size: 0.8rem;
  padding: 20px 20px 5px 20px;
}

.sidebar-top {
  height: calc(100% - 60px);
}

.sidebar-bottom {
  height: 60px;
  
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar nav li,
#sidebar .sidebar-bottom div,
#sidebar .sidebar-top .crea-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar span {
  margin-left: 10px;
}

/* SIDEBAR MENU */
.logo-mobile {
  display: none;
}

#sidebar nav {
  margin: 20px 0;
}

#sidebar .logo-desktop img {
  width: 70%;
}

#sidebar li img {
  width: 30px;
}

/* PLAYLIST */
.playlist {
  height: calc(100% - 205px);
}

.playlist-list {
  height: calc(100% - 50px);
  overflow: auto;
}

.playlist-top .fa-solid{
  color:  #a3a3a3;
  font-size: 2.5rem;
}

.crea-playlist {
  margin-bottom: 10px;
}

/* SIDEBAR-BOTTOM */
.sidebar-bottom {
  flex-direction: column;
  justify-content: end;
}

#sidebar .sidebar-bottom div:first-child {
  border-bottom: 2px solid #a3a3a3;
  margin: 5px 0;
  padding: 5px 0;
}
#sidebar .sidebar-bottom div:first-child img {
  width: 0.8rem;
}

#sidebar .sidebar-bottom div:last-child img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: gray;
  border-radius: 50%;
}

/* UPGRADE SECTION */
.main-top {
  width: calc(100% - 225px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: flex-end;
  align-items: center;
}

.main-top button {
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}


/* RESPONSIVE */
@media screen and (max-width:600px){
  #sidebar {
    width: 50px;
    padding: 10px;
  }
  .content,
  .main-top {
    width: calc(100% - 50px);
  }
  .logo-mobile {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  .remove {
    display: none;
  }
  #sidebar nav img {
    width: 100%;
  }
  #sidebar nav {
    margin: 10px 0 0 0;
  }
  #sidebar nav li {
    margin: 0 0 5px 0;
  }
  #sidebar .sidebar-bottom div:first-child {
    border: none;
  }
  .sidebar-bottom {
    align-items: center;
  }
}