* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* DEBUG */
.debug {
  background-color: rgba(0, 0, 255, 0.2);
}

.dbg {
  background-color: rgba(255, 255, 0, 0.2);
}

/* PAGE STRUCTURE */
.up {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #141922;
}

.down {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
/* /PAGE STRUCTURE */

/* SIDEBAR */
#sidebar {
  width: 200px;
  height: 100%;
  background-color: black;
  color: white;
  overflow: auto;
  padding: 20px;
  position: relative;
}

#sidebar nav {
  margin: 20px 0;
}

#sidebar img {
  width: 80%;
}

.sidebar-under {
  position: absolute;
  bottom: 10px;
}

/* UPGRADE SECTION */
.main-top {
  width: calc(100% - 200px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 200px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-top button {
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}