* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

li {
  list-style: none;
}

a,
li a {
  text-decoration: none;
  color: #a3a3a3;
}

.d-flex {
  display: flex;
}


/* PAGE STRUCTURE */
.up {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow: hidden;
}

.down {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
/* /PAGE STRUCTURE */

/* SIDEBAR */
#sidebar {
  width: 225px;
  min-height: 450px;
  height: 100%;
  background-color: black;
  color: #a3a3a3;
  font-size: 0.8rem;
  padding: 20px 20px 5px 20px;
}

.sidebar-top {
  height: calc(100% - 60px);
}

.sidebar-bottom {
  height: 60px;
  
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar nav li a,
#sidebar .sidebar-bottom div,
#sidebar .sidebar-bottom div a,
#sidebar .sidebar-top .add-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar span {
  margin-left: 10px;
}

/* SIDEBAR MENU */
.logo-mobile {
  display: none;
}

#sidebar nav {
  margin: 20px 0;
}

#sidebar .logo-desktop img {
  width: 70%;
}

#sidebar li img {
  width: 30px;
}

.sidebar-top .active {
  position: relative;
}

.sidebar-top .active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  border-left: 2px solid  #7db62a;
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  height: calc(100% - 205px);
}

.playlist-list {
  height: calc(100% - 50px);
  overflow: auto;
}

.playlist-top .fa-solid{
  color:  #a3a3a3;
  font-size: 2.5rem;
}

.add-playlist {
  margin-bottom: 10px;
  cursor: pointer;
}

/* SIDEBAR-BOTTOM */
.sidebar-bottom {
  flex-direction: column;
  justify-content: end;
}

#sidebar .sidebar-bottom div:first-child {
  border-bottom: 2px solid #a3a3a3;
  margin: 5px 0;
  padding: 5px 0;
}
#sidebar .sidebar-bottom div:first-child img {
  width: 0.8rem;
}

#sidebar .sidebar-bottom div:last-child img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: gray;
  border-radius: 50%;
}
/* /SIDEBAR */

/* UPGRADE SECTION */
.main-top {
  width: calc(100% - 225px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: flex-end;
  align-items: center;
}

.main-top button {
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 30px;
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

/* CONTENT */
.content {
  width: calc(100% - 225px);
  padding-top: 90px;
  overflow: auto;
}

/* NAVBAR */
.navbar {
  font-size: 0.9rem;
  font-weight: 700;
}

.navbar ul{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar li {
  margin: 10px;
}

.navbar .active {
  position: relative;
  padding-bottom: 5px;
}

.navbar .active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 35%;
  height: 100%;
  transform: translate(-50%);
  border-bottom: 2px solid  #7db62a;
  cursor: pointer;
}

/* RECENTLY PLAYED */
.recently-played {
  padding: 0 20px;
}

.recently-played h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 6), 1fr));
}

.card {
  width: 95%;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
}

.card-top {
  width: 100%;
  position: relative;
}

.card-bottom {
  text-align: center;
}

.subtitle {
  font-size: 0.8rem;
  font-weight: 700;
  color: #a3a3a3;
}

.layover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 40px;
  z-index: 5;
}

/* HOVER EFFECTS */
a:hover,
li:hover a,
.add-playlist:hover i,
.add-playlist:hover span {
  color: white;
}

.main-top button:hover {
  scale: 1.2;
}

.card:hover {
  cursor: pointer;
}
.card:hover img{
  opacity: 0.5;
}

.card:hover .layover {
  display: block;
}

/* RESPONSIVE */
@media screen and (max-width:600px){
  #sidebar {
    width: 50px;
    padding: 10px;
  }
  .content,
  .main-top {
    width: calc(100% - 50px);
  }
  .logo-mobile {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  .remove {
    display: none;
  }
  #sidebar nav img {
    width: 100%;
  }
  #sidebar nav {
    margin: 10px 0 0 0;
  }
  #sidebar nav li {
    margin: 0 0 5px 0;
  }
  #sidebar .sidebar-bottom div:first-child {
    border: none;
  }
  .sidebar-bottom {
    align-items: center;
  }
}

/* CARDS RESPONSIVE */
@media screen and (max-width:991px) {
  .row {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

  @media screen and (max-width:767px) {
    .row {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}